body {
  margin: 0
}

#parent {
  display: flex;
  height: 100vh;
  overflow: hidden
}

#left {
  width: 230px;
  flex: none;
}

#middle {
  margin-top: 50px;
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgb(250, 249, 250)!important;
}

#right {
  margin-top: 50px;
  position: relative;
}